/* comments start*/
.comments_cnt{
	border: 1px solid $almost-white;
	border-top: none;
	padding: 1rem 0.9rem 0 0.9rem;
}

.comments-area{
	.comments-title{
		margin-top: 0;
	}
	img{
		max-width: 100px;
		width: auto;
		height: auto
	}
	input, textarea{
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background: #fff;
	    background-image: none;
	    border: .05rem solid #bcc3ce;
	    border-radius: .1rem;
	    color: #3b4351;
	    display: block;
	    font-size: .8rem;
	    line-height: 1.2rem;
	    max-width: 100%;
	    outline: none;
	    padding: .25rem .4rem;
		&:focus{
		    border-color: $primary-color;
		    -webkit-box-shadow: 0 0 0 0.1rem rgba(26,26,26,0.2);
		    box-shadow: 0 0 0 0.1rem rgba(26,26,26,0.2);
		}
	}
	input{
		height: 1.8rem;
	}
	textarea{
		max-width: 700px;
		width: 100%;
	}
	label {
	    display: block;
	    padding-bottom: 0.25rem;
	}
	ul{
		list-style-type: none;
		list-style-position: inside;
		padding: 0;
		margin: 0.9rem 0;
	}
	.comment-reply-title{
		margin-top: 0;
	}
	.comment-list{
		margin-left: 115px;
		.children {
		    padding-left: 60px;
		    .comment-author .avatar {
			    height: 50px;
			    left: -60px;
			    width: 50px;
			}
		}
	}
	.comment{
		margin: 0.9rem 0;
	}
	.comment-meta{
		font-size: 0.7rem;
		font-style: italic;
	}
	.comment-author{
		position: relative;
		padding-bottom: 0.25rem;
		.fn{
			font-weight: bold;
			font-style: normal;
			font-size: 18px;
		}
		.avatar {
		    left: -115px;
		    position: absolute;
		}
		.says {
		    display: none;
		}
	}
	.comment-reply-link{
		font-weight: 600;
	}
	.submit.btn{
		&:hover{
			color: $almost-white;
		}
		&:focus{
			color: $almost-white;
		}
	}
	.navigation{
		margin: 0.9rem 0;
		margin-top: 1.6rem;
		h2.screen-reader-text{
			font-size: 1.17em;
			text-align: center;
			margin: 0.9rem 0;
		}
	}
	.nav-links{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 0.9rem 0;

		>*{
			margin: 0.1rem;
			padding:0.2rem 0.6rem;
		}
	}
	.page-numbers.current{
		-webkit-box-shadow: 0 0 0 0.1rem rgba(26,26,26,0.2);
    	box-shadow: 0 0 0 0.1rem rgba(26,26,26,0.2);
	}
}
/* comments end*/