body{
	font-family: 'Titillium Web';
	font-weight: 300;
	font-size: 0.9rem;
}
b{
	font-weight: 600;
}

figure{
	margin: 0;
}
p{
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}
*::-moz-selection{
	color: #3b4351;
	background-color: $light-gray;
} 
*::selection{
	color: #3b4351;
	background-color: $light-gray;
}
blockquote{
	font-style: italic;
	position: relative;
	font-size: 0.9em;
	&::before{
		content:'';
		display: block;
		position: absolute;
		top: 0;
		left: -10px;
		bottom: 0;
		width: 0;
		border-left: 2px solid $light-gray; 
	}
}
.blur-up{
	-webkit-filter: blur(5px) grayscale(100%);
	filter: blur(5px) grayscale(100%);
	transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded{
	-webkit-filter: blur(0) grayscale(100%);
	filter: blur(0) grayscale(100%);
}
.main{
	min-height: calc(100vh - (212px + 1.4rem));
	&__inner{
		padding: 0 0.9rem;
	}
}
.column{
	&--no_content{
		padding: 0 0.9rem;
	}
}
.main, .single_post_main{
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}
.to_animate{
	-webkit-transition: opacity 0.4s $timing_f;
	-o-transition: opacity 0.4s $timing_f;
	transition: opacity 0.4s $timing_f;
	opacity: 0;
}
.to_animate.revealed{
	opacity: 1;
}
/* index posts start*/
.index_post{
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
	padding: 0 0.9rem;
	>div{
		border: 1px solid $almost-white;
		height: 100%;		
	}
	&__heading{
		margin-top: 0.9rem;
		margin-bottom: 0.9rem;
		padding: 0 0.9rem;
		>a:focus{
			-webkit-box-shadow: initial;
			box-shadow: initial;
		}
	}
	&__info{
		padding: 0 0.9rem;
		font-size: 0.8em;
		font-style: italic;
	}
	&__excerpt{
		padding: 0 0.9rem;
		text-align: justify;
		p{
			margin: 0.9rem 0;
		}
	}
}
.thumbnail_cnt{
	img{
		display: block;
		width: 100%;
		height: auto;
	}
	&__link{
		position: relative;
		height: 0;
		padding-bottom: 56.25%;
		display: block;
		overflow: hidden;
		background-color: $almost-white;
		.video_thumbnail{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
		}
		.video_play_btn{
			padding: 0 5px;
			display: block;
			width: 50px;
			height: 40px;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 100;
			font-size: 2rem;
			color: white;
			line-height: 1;
		}
		.thumbnail{
			@extend .video_thumbnail;
		}
		&--standard{
			img{
				display: block;
				width: 100%;
				height: auto;
			}
			background-color: transparent;
			.video_play_btn{
				color: $primary-color;
			}
		}
	}
}
.index_link{
	.link_post{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 100%;
		&__icon{
			font-size: 5em;
			display: block;
			text-align: center;
		}
		&__info{
			font-size: 0.8em;
			padding: 0 0.9rem 0.9rem 0.9rem;
			font-style: italic;
		}
		&__comments{
			-webkit-box-flex: 1;
			-ms-flex: 1 1 100%;
			flex: 1 1 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding: 0.9rem;
		}
	}
}
.quotes_post{
	&__content{
		padding: 0 0.9rem;
		font-style: italic;
		text-align: justify;
	}
}
.pagination_links{
	position: relative;
	margin: 0.9rem;
	width: 100%;
	height: 28px;
	>a{
		display: inline-block;
		line-height: 1;
		border: 1px solid $almost-white;
		&:hover{
			color: $almost-white;
		}
		&:focus{
			color: $almost-white;
		}
		>i{
			vertical-align: middle;
			font-size: 1.6em;
		}
	}
	.next_post_link{
		position: absolute;
		right: 0;
	}
	.previous_post_link{
		position: absolute;
		left: 0;
	}
}
.padding_b{
	padding-bottom: 0.9rem;
}
/* index posts end*/

/* responsive video cnt start*/

.responsive_content{
	max-width: 900px;
	margin: 0 auto;
}
.video_content{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: $almost-white;
    margin: 1em 0;
}
.video_content iframe, .video_content object, .video_content embed, .video_content video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* responsive video cnt end*/

/* editor styles start*/
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
#wp-link-wrap.has-text-field #wp-link .query-results{
	top: 255px;
}
/* editor styles end*/