.site_header_cnt{
	padding: 1.6rem 0.9rem;
	.main_site_header{
		margin-right: 1rem;
		display: block;
		width: 50px;
		height: auto;
		>img{
			display: block;
		}
	}
	&__site_header{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.nav{
	border-left: 1px solid $almost-white;
	border-right: 1px solid $almost-white;
	border-top: 1px solid $almost-white;
	border-bottom: 1px solid $almost-white;
	padding: 0 0.9rem;
	.mobile_menu_toggle{
		display: none;
	}
	&__inner{
		.nav_list{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			list-style: none;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			width: 100%;	
			margin: 0;
			padding: 0;
			>li.menu-item{
				-webkit-box-flex: 0;
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				padding: 0 0.5rem;
				&:first-of-type{
					padding-left: 0;
				}
				&:last-of-type{
					padding-right: 0;
				}
				>a{
					display: block;
					font-weight: 600;
					padding: 0.9rem 0;
					position: relative;
					&::before{
						content: "";
						position: absolute;
						top: -1px;
						left: -0.5rem;
						background-color: $primary-color;
						width: calc(100% + 1rem);
						height: 2px;
						-webkit-transition: -webkit-transform 0.3s $timing_f;
						transition: -webkit-transform 0.3s $timing_f;
						-o-transition: transform 0.3s $timing_f;
						transition: transform 0.3s $timing_f;
						transition: transform 0.3s $timing_f, -webkit-transform 0.3s $timing_f;
						-webkit-transform-origin: center;
						-ms-transform-origin: center;
						transform-origin: center;
						-webkit-transform: scaleX(0);
						-ms-transform: scaleX(0);
						transform: scaleX(0);
						border-radius: 2px;
					}
					&::after{
						content: "";
						position: absolute;
						bottom: -1px;
						left: -0.5rem;
						background-color: $primary-color;
						width: calc(100% + 1rem);
						height: 2px;
						-webkit-transition: -webkit-transform 0.3s $timing_f;
						transition: -webkit-transform 0.3s $timing_f;
						-o-transition: transform 0.3s $timing_f;
						transition: transform 0.3s $timing_f;
						transition: transform 0.3s $timing_f, -webkit-transform 0.3s $timing_f;
						-webkit-transform-origin: center;
						-ms-transform-origin: center;
						transform-origin: center;
						-webkit-transform: scaleX(0);
						-ms-transform: scaleX(0);
						transform: scaleX(0);
						border-radius: 2px;
					}
					&:hover{
						text-decoration: none;
						&::before{
							-webkit-transform: scaleX(1);
							-ms-transform: scaleX(1);
							transform: scaleX(1);
						}
						&::after{
							-webkit-transform: scaleX(1);
							-ms-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
					&:focus{
						text-decoration: none;
						-webkit-box-shadow: initial;
						box-shadow: initial;
						&::before{
							-webkit-transform: scaleX(1);
							-ms-transform: scaleX(1);
							transform: scaleX(1);
						}
						&::after{
							-webkit-transform: scaleX(1);
							-ms-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1020px) {
	.site_header_cnt{
		padding: 1.6rem 0.9rem;
	}
	.nav__inner{
		display: none;
	}
	/* .mobile_menu_wrapper{*/
	/* 	display: block;*/
	/* }*/
	.nav{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		&--justify{
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		.mobile_menu_toggle{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			height: 63px;
			#mobile_menu_btn{
				font-size: 1.4rem;
				padding: 0 0.5rem;
				&:hover{
					color: $almost-white;
				}
				&:focus{
					color: $almost-white;
				}
			}
		}
	}
}