@import "./spectre-0.5.8/variables";
@import "./spectre-0.5.8/src/mixins";
@import "fonts";

$almost-white: lighten($primary-color, 85%);
$light-gray: lighten($primary-color, 70%);
$timing_f: cubic-bezier(0.445, 0.050, 0.550, 0.950);


@import "./spectre-0.5.8/src/normalize";
@import "./spectre-0.5.8/src/base";
@import "./spectre-0.5.8/src/layout";
@import "./spectre-0.5.8/src/utilities/position";
@import "./spectre-0.5.8/src/utilities/display";

@import "./spectre-0.5.8/src/buttons";
@import "./spectre-0.5.8/src/badges";
@import "./spectre-0.5.8/src/chips";


@import "./spectre-0.5.8/src/forms";

@import "mobile-menu";
@import "header";
@import "general";
@import "single_and_page";
@import "comments";
@import "footer";


