.mobile_menu_wrapper{
	visibility: hidden;
	pointer-events: none;
}
.mobile_menu_wrapper .mobile_menu_cnt__inner.hidden{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.mobile_menu_wrapper .mobile_menu_cnt.hidden{
	opacity: 0;
	pointer-events: none;
}
@media screen and (min-width: 1021px) {
	.nav{
		&__mobile_site_header{
			display: none;
		}
	}
	.mobile_menu_cnt.hidden{
		display: none;
		visibility: hidden;
	}
}
@media screen and (max-width: 1020px) {
	.nav{
		&__mobile_site_header{
			display: block;
			margin: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}
	.wrap{
		overflow: scroll;
	}
	.mobile_menu_wrapper{
		visibility: visible;
		pointer-events: auto;
	}
	.mobile_menu_active{
		overflow: hidden;
		.overflow{
			-webkit-filter: blur(8px);
			filter: blur(8px);
		}
		.mobile_menu_wrapper{
			display: block;
		}
	}
	.mobile_menu_wrapper{
		.menu_content{
			padding: 1.6rem;
			height: 100%;
			min-height: 660px;
			>h2{
				border: 1px solid $almost-white;
			 	padding: 0.9rem;
				margin-top: 0;
				margin-bottom: 0;
				font-weight: bold;
			}
		}
		.mobile_menu_cnt{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0,0.58);
	    	z-index: 400;
	    	opacity: 1;
	    	-webkit-transition: opacity 0.2s linear;
	    	-o-transition: opacity 0.2s linear;
	    	transition: opacity 0.2s linear;
	    	pointer-events: auto;
	    	visibility: visible;
			&__inner{
				z-index: 500;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 400px;
				display: block;
				-webkit-transition: -webkit-transform 0.4s $timing_f;
				transition: -webkit-transform 0.4s $timing_f;
				-o-transition: transform 0.4s $timing_f;
				transition: transform 0.4s $timing_f;
				transition: transform 0.4s $timing_f, -webkit-transform 0.4s $timing_f;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				background-color: white;
				overflow-y: auto; 
			}
		}
		.mobile_menu_cnt.transition_delay{
			-webkit-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
		.mobile_menu_list_cnt{
			border: 1px solid $almost-white;
			margin-top: 1.6rem;
		 	padding: 0.9rem;
		 	height: calc(100% - (74px + 1.6rem + 78px + 1.6rem));
			&__mobile_list{
				list-style: none;
				padding: 0;
				margin-bottom: 0;
				margin-top: 0;
				>li{
					margin: 0.9rem 0;
					&:first-of-type{
						margin-top: 0;
					}
					>a{
						font-weight: 600;
					}
				}
			}
		}
	}
	.close_menu_cnt{
		border: 1px solid $almost-white;
		margin-top: 1.6rem;
	 	padding: 0.9rem;
	}
	#close_menu_btn{
		font-size: 1.4rem;
		padding: 0 0.5rem;
		&:hover{
			color: $almost-white;
		}
		&:focus{
			color: $almost-white;
		}
	}
}
@media screen and (max-width: 480px) {
	.mobile_menu_wrapper{
		.mobile_menu_cnt{
			&__inner{
				width: 100%;
			}
		}
	}
}