.single_post_main{
	min-height: calc(100vh - (205px + 1.4rem));
	&__inner{
		padding: 0 0.9rem;
	}
}
.single_post_main{
	&__inner{
		border: 1px solid $almost-white;
		border-bottom: none;
		margin-top: 0.7rem;
		padding-bottom: 0.7rem;
	}
}
.single_page{
	margin-top: 0.9rem;
	border: 1px solid $almost-white;
}
.border_b{
	border-bottom: 1px solid $almost-white;
}
.post_info{
	padding-bottom: 0.9rem;
	.categories{
		font-size: 0.8em;
		font-style: italic;
	}
}
.single_post_thumbnail_cnt{
	img{
		display: block;
		width: 100%;
		height: auto;
	}
	img.blur-up{
		-webkit-filter: blur(8px) grayscale(100%);
		filter: blur(8px) grayscale(100%);
		transition: filter 400ms, -webkit-filter 400ms;
	}
	img.blur-up.lazyloaded {
	    -webkit-filter: blur(0) grayscale(100%);
	    filter: blur(0) grayscale(100%);
	}
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	display: block;
	overflow: hidden;
	background-color: $almost-white;
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
}

/* qootes post type start*/

.quote{
	&__content{
		font-weight: bold;
		font-style: italic;
		font-size: 1rem;
		p{
			
			line-height: 1.8;
		}
	}
}

/* qootes post type end*/

/* link post type start*/
.single_link{
	&__link{
		font-size: 1.4rem;
	}
}

/* link post type end*/

/* archive start*/
.archive_page{
	header{
		border: 1px solid $almost-white;
		padding: 0.9rem;
		margin: 0.9rem;
	}
	&__title{
		margin: 0;
	}
}
/* archive end*/
@media screen and (min-width: $size-md) {
	.quote{
		&__content{
			p{
				text-align: center;
				padding: 0 1rem;
			}
		}
	}

}

@media screen and (min-width: 1021px) {
	.quote{
		&__content{
			p{
				padding: 0 2rem;	
			}
		}
	}
	
}